.content {
	white-space: pre;
	font-size: 1.25em;
	margin: auto;
  width: 60%;
	padding: 25px;
	text-align: justify;
	border-color: black;
	border-radius: 15px;
	border-style: solid;
	border: 3px;
	background-color: white;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}
h1 {
	font-size: 3em;
	color: black;
	text-align: center;
}
nav {
	text-align: center;
	font-size: 1.5em;
	background-color: #33334d;
	background-image:
	-webkit-linear-gradient(left, #4976C9, #33334d);
	background-image:
	-o-linear-gradient(left, #4976C9, #33334d);
	background-image:
	linear-gradient(to right, #4976C9, #33334d);
	opacity: 1;
	margin: 0 0 25px 0;
	padding: 15px 0 15px 0;
	width: 100%;
}
body {
	font-family: monospace;
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: red;
}
.footPic {
	width: auto;
	height: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {

}
.banner {
	width: 100%;
	margin: 0;
	padding: 0;
}
.banner_div {
	height: 200px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #33334d;
	background-image:
	-webkit-linear-gradient(left, #4976C9, #33334d);
	background-image:
	-o-linear-gradient(left, #4976C9, #33334d);
	background-image:
	linear-gradient(to right, #4976C9, #33334d);
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	opacity: 0.95;
}
.sticky:hover {
	opacity: 1;
}
nav a {
	margin: 5px 15px 5px 15px;
	padding: 5px 15px 5px 15px;
}
p {
	width: 100%;
	background-color: white;
}
.content a {
	font-weight: bold;
	color: #33334d;
}
.content a:hover {
	color: red;
}
img {
	margin: auto;
	display: block;
}
.pic {
	margin: auto;
	align-self: center;
	align-items: center;
}
.loc {
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}
hr {
  border: 0;
  height: 1px;
  background: #33334d;
  background-image: linear-gradient(to right, #33334d, #ffffff, #33334d);
}
.code_box {
	border-width: thin;
	border: 1px dashed black;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 2px 2px 2px;
}
.icn {
	border-radius: 70px 40px;
	background-color: white;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	align: center;
	filter: blur(75px);
}
.sl {
	color: #33334d;
}
