.content {
	white-space: pre;
	font-size: 1.25em;
	margin: auto;
    width: 60%;
	padding: 25px;
	text-align: justify;
	border-color: black;
	border-radius: 15px;
	border-style: solid;
	border: 3px;
	background-color: grey;
}
h1 {
	font-size: 3em;
	color: black;
	text-align: center;
}
nav {
	text-align: center;
	font-size: 1.5em;
	background-color: grey;
	opacity: 0.75;
	margin: 15px 0 15px 0;
	padding: 15px 0 15px 0;
	width: 100%;
}
body {
	font-family: monospace;
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: red;
}
.footPic {
	width: auto;
	height: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {

}
.banner {
	width: 100%;
	margin: 0;
	padding: 0;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  opacity: 0.60;
}
.sticky:hover {
  opacity: 1;
}
nav a {
	margin: 5px 15px 5px 15px;
	padding: 5px 15px 5px 15px;
}
